.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pageHeader {
  display: flex;
  gap: 20px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings > h1,
.headings > h3 {
  margin: 0px;
  padding: 0px;
}

.headingLogo {
  max-width: 300px;
  height: 300px;
}

.collectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collectionsGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  column-gap: 20px;
}

.collection {
  display: flex;
  width: 450px;
  padding: 10px;
  border: 2px dotted var(--black);
  border-radius: 2px;
}

@media (max-width: 768px) {
  .collectionsGridContainer {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  .collection {
    width: 320px;
  }

  .collectionHeadings > p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.collection:hover {
  color: var(--green);
  border-style: solid;
}

.collectionHeadings {
  flex: 1;
}

.collection h3,
.collection p {
  margin: 0px;
  padding: 0px;
}

.collection > img {
  width: 150px;
  height: 100px;
}

.collectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-align: center;
}

.collectionContainer > :is(p, hr) {
  max-width: 700px;
}

.collectionContainer > hr {
  width: 100%;
  background-color: var(--black);
  border: 1px solid;
}

.collectionScansContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  text-align: left;
  margin-top: 30px;
}

.collectionScansContainer > :is(a, img) {
  width: 200px;
  height: 200px;
}

.collectionScansContainer > a {
  border: 2px solid var(--black);
  cursor: pointer;
}

.collectionScansContainer > a:hover {
  border-style: dotted;
}

.collectionScansContainer > a > img {
  object-fit: contain;
}

.tabContainer {
  display: flex;
  gap: 10px;
}

.tabContainer button {
  font-size: 1.2em;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 4px;
  cursor: pointer;
}

.tabContainer button.activeTabButton {
  color: var(--white);
  background-color: var(--black);
  border-color: var(--white);
}
