.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pageHeader {
  display: flex;
  gap: 20px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings > h1,
.headings > h3 {
  margin: 0px;
  padding: 0px;
}

.headingLogo {
  max-width: 300px;
  height: 300px;
}

.collectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collectionsGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  column-gap: 20px;
}

.collection {
  display: flex;
  max-width: 500px;
  padding: 10px;
  border: 2px dotted black;
  border-radius: 2px;
}

.collection:hover {
  border-style: solid;
}

.collectionHeadings {
  flex: 1;
}

.collection h3,
.collection p {
  margin: 0px;
  padding: 0px;
}

.collection > img {
  width: 150px;
  height: 100px;
}

.collectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-align: center;
}

.collectionContainer > :is(p, hr) {
  max-width: 700px;
}

.collectionContainer > hr {
  width: 100%;
  background-color: black;
}

.collectionScansContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  text-align: left;
  margin-top: 30px;
}

.collectionScansContainer > :is(a, img) {
  width: 200px;
  height: 200px;
}

.collectionScansContainer > a {
  border: 2px solid black;
  cursor: pointer;
}

.collectionScansContainer > a:hover {
  border-style: dotted;
}

.collectionScansContainer > a > img {
  object-fit: contain;
}
