.aboutContainer > :is(h1 + p) {
  margin-top: 12px;
}

.aboutContainer h4 {
  margin-top: 12px;
  margin-bottom: 8px;
}

.aboutContainer ul {
  margin-top: 8px;
}

.aboutContainer a {
  color: #0000ff;
}

.aboutContainer a:hover,
.aboutContainer a:focus {
  opacity: 0.8;
}
