.container {
  border-top: 1px solid var(--border);
  font-size: var(--text-sm);
  text-align: right;
  padding-top: 10px;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.container a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}
